.text {
  text-align: center;
  color: aliceblue;
  margin: 30px 0 30px 0;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  width: 70%;
  min-height: 40px;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: none;
}
.button {
  width: 15%;
}
